<!--<pre>{{user|json}}</pre>-->
<!DOCTYPE HTML>
<html lang = "en">
<head>
    <title>imageDemo.html</title>
    <link href="app/views/style.css" rel="stylesheet">
    <script language="javascript" type="text/javascript" src="app/views/resistor.js"></script>

    <meta charset = "UTF-8" />
</head>
<body>
<h1>Image Demo</h1>
<div class="color1" name="color1" onclick="changeColor1()"></div>
<div class="color2" name="color2" onclick="changeColor2()"></div>
<div class="color3" name="color3" onclick="changeColor3()"></div>
<div class="color4" name="color4" onclick="changeColor4()"></div>
<div id="show11" onclick="calculate()"></div>
<input type="text" id="textValue" name="rev">
<input type="button" name="but1" onclick="reverseCalculate()">


</body>
</html>