  html { overflow-x: hidden;
  		overflow-y: hidden; }
 body{
 	/*background-image: url(D:resistor.png); !* Путь к фоновому изображению *!*/
    background-color: #e8e8c1; /* Цвет фона */
    background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed,fixed;

 }

 .color1{
 	position: absolute;
 	margin-left: 460px;
 	margin-top: 148px;
 	width: 35px; 
 	height: 118px;
    background: "red";
    border: solid 1px black;
 }
  .color2{
  	position: absolute;
 	margin-left: 538px;
 	margin-top: 148px;
 	width: 35px; 
 	height: 118px;
    background: "grey";
    border: solid 1px black;
 }
 .color3{
  	position: absolute;
 	margin-left: 618px;
 	margin-top: 148px;
 	width: 35px; 
 	height: 118px;
    background: "grey";
    border: solid 1px black;
 }
 .color4{
  	position: absolute;
 	margin-left: 718px;
 	margin-top: 148px;
 	width: 35px; 
 	height: 118px;
    background: "grey";
    border: solid 1px black;
 }
 .show{
 	position: absolute;
 	margin-left: 100px;
 	margin-top: 100px;
 	width: 35px; 
 	height: 35px;
    background: "grey";
    border: solid 1px black;
 }