html { overflow-x: hidden;
	overflow-y: hidden; }
body{
	/*background-image: url(D:resistor.png); !* Путь к фоновому изображению *!*/
	background-color: #e8e8c1; /* Цвет фона */
	/* background-repeat: no-repeat;
     background-position: center center;
     background-attachment: fixed,fixed;*/
}
.resistorBack{
	position: absolute;
	margin-left: 381px;
	margin-top: 135px;
}
.color1{
	position: absolute;
	margin-left: 510px;
	margin-top: 148px;
	width: 35px;
	height: 118px;
	border: solid 1px black;
}
.color2{
	position: absolute;
	margin-left: 588px;
	margin-top: 148px;
	width: 35px;
	height: 118px;
	border: solid 1px black;
}
.color3{
	position: absolute;
	margin-left: 668px;
	margin-top: 148px;
	width: 35px;
	height: 118px;
	border: solid 1px black;
}
.color4{
	position: absolute;
	margin-left: 768px;
	margin-top: 148px;
	width: 35px;
	height: 118px;
	border: solid 1px black;
}
.elements{
	margin-top: 100px;
	width: 100%;
	display: block; text-align: center;}
.show{
	position: absolute;
	margin-left: 100px;
	margin-top: 100px;
	width: 35px;
	height: 35px;
	border: solid 1px black;
}